.espaco{
	margin-top: 100px;
}
.itemsatuais{
	background-color:#263238;
	width:95%;
	display:flex;
	justify-content:10px;
	height:16%;
	margin-top:8%;
	margin-left:2.5%;
	position:absolute;
}
.item{
	width:100px;
	border-style: solid;
	margin-left:10px;


}